@import './variables';

@default-blue: #4cb2e2;

.empty-slot-container {
  display: inline-block;
  height: 22px;
  width: 80px;
}

.empty-widget-container {
  display: inline-block;
  height: 17px;
  width: 70px;
  margin: 15px;
}

.nemesis-button {
  text-transform: uppercase;
  background: white;
  padding: 10px 25px;
  color: @dark-font-color;
  display: inline-block;
  height: 40px;
  border: 1px solid @border-colors;
  cursor: pointer;

  &.dark-button {
    color: white;
    background: @dark-grey-darker;
  }

  &.decline-button {
    color: white;
    background: @light-grey-darker;
  }

  &.success-button {
    color: white;
    background: @main-blue-darker;

    &:disabled {
      background: lighten(@main-blue-darker, 20%);
      cursor: not-allowed;
    }
  }

  &.danger-button {
    color: white;
    background: @red-color;
  }
}

//.nemesis-button {
//  text-transform: uppercase;
//  background: #4cb2e2;
//  padding: 10px 25px;
//  color: white;
//  display: inline-block;
//  border: 1px solid #d3d3d3;
//  cursor: pointer;
//  width: 100%;
//  text-align: center;
//}

.live-edit-nav-bar {
  top: 100px;
  left: 20px;
  position: fixed;
  z-index: 100000;
  width: 260px;
  min-height: 510px;
  border: solid 1px #555;
  background-color: #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);

  .top-bar {
    line-height: 1em!important;
    width: 100%;
    height: 25px;
    color: white;
    background-color: @default-blue;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    padding-top: 5px;
    position: relative;

    .clear-live-edit {
      position: absolute;
      background: #53c6fc;
      width: 19px;
      height: 19px;
      font-size: 18px;
      top: 2px;
      right: 2px;
      line-height: 18px;
    }

    .switch-personalization {
      position: absolute;
      background: #53c6fc;
      width: 19px;
      height: 19px;
      font-size: 18px;
      top: 2px;
      left: 2px;
      line-height: 18px;

      .material-icons {
        font-size: 20px;
      }
    }

    .switch-search {
      position: absolute;
      background: #53c6fc;
      width: 19px;
      height: 19px;
      font-size: 18px;
      top: 2px;
      left: 27px;
      line-height: 18px;

      .material-icons {
        font-size: 20px;
      }
    }
  }

  .log-new-user {
    padding: 5px 10px;
  }

  .loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 100000;

    .loading-icon {
      font-size: 50px;
      position: absolute;
      top: ~"calc(50% - 25px)";
      left: ~"calc(50% - 25px)";
      color: #53c6fc;
      animation: spin 1s infinite linear;
      -webkit-animation: spin2 1s infinite linear;
    }
  }

  .user-details-renderer {
    padding: 5px 10px;
    .user-image {
      width: 50px;
      height: 50px;
    }

    .user-names {
      width: ~"calc(100% - 60px)";
      display: inline-block;
      vertical-align: top;
      padding: 3px;
      .user-display-name {
        cursor: pointer;
        font-size: 16px;
        &:hover {
          text-decoration: underline;
          color: #4cb2e2;
        }
      }
    }
  }

  .user-container {
    height: 100px;
  }

  .filter-items-container {
    margin-top: 10px;

    .filter-item {
      padding: 10px 5px;

      .filter-item-name {
        padding-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        display: inline-block;
        font-size: 14px;
      }

      .rc-switch {
        vertical-align: top;
      }
    }
  }



  .switch-container {
    padding: 5px;

    label {
      font-size: 14px;
    }
  }

  .widget-lister {
    padding: 10px 0;

    .widget-element {
      padding: 10px 10px 10px 30px;
      border: 1px solid @default-blue;
      background-color: @default-blue;
      color: white;
      width: 90%;
      margin: 1px auto;
      position: relative;
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 180px;
      white-space: nowrap;
      font-size: 14px;
      line-height: 14px;
      border-radius: 5px;

      .widget-icon {
        position: absolute;
        left: 5px;
        font-size: 20px;
        top: 7px;
      }

      .widget-element-details {
        position: absolute;
      }
    }
  }

  .navigation-bottom-bar {
    .navigation-bottom-bar-item {
      padding: 5px;
      display: inline-block;
      width: 50%;
      text-align: center;
      cursor: pointer;

      span {
        font-size: 14px;
        cursor: pointer;
        &:hover {
          color: #53c6fc;
          text-decoration: underline;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(360deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

input.nemesis-cms-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.show {
  opacity: 1;
}

.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 105000!important;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition:      -o-transform .3s ease-out;
  transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 104000!important;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.show {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-large {
    width: 900px;
    max-width: 900px;
  }
}
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.modal-header:after,
.modal-footer:after {
  clear: both;
}

label.create-for-label {
  font-size: 14px;
  margin-right: 10px;
}

.nemesis-radio-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  user-select: none;
  position: relative;
  right: 0;
  top: 5px;
  left: 0;
  height: 20px!important;
  line-height: 20px!important;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border-radius: 50%;
  margin-left: -5px !important;

  &:hover {
    background: #9faab7;
  }

  &:focus {
    outline: none !important;
  }

  &:checked {
    background: @default-blue;

    &::before {
      height: 20px;
      width: 20px;
      position: absolute;
      content: '✔';
      display: inline-block;
      font-size: 18px;
      text-align: center;
      line-height: 20px;
      left: 1px;
    }
  }
}

.tooltip {
  position: absolute;
  z-index: 107000;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: @default-blue;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: @default-blue;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: @default-blue;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: @default-blue;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: @default-blue;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: @default-blue;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: @default-blue;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: @default-blue;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: @default-blue;
}

.Select {

  .Select-control {
    border-radius: 0;
    border-color: #d3d3d3;
  }

  &.is-disabled {
    & > .Select-control {
      background-color: #eee;

      .Select-value {
        .Select-value-label {
          color: #808080;
        }
      }
    }
  }
}


.entity-field {
  width: 100%;
  height: 40px;
}

.index-query-config {
  .select-search-code {
    text-align: center;
    padding: 5px 3px;
    font-size: 14px;
    position: relative;
    .close-button {
      position: absolute;
      background: #53c6fc;
      width: 17px;
      height: 17px;
      font-size: 16px;
      top: 3px;
      right: 3px;
      line-height: 16px;
      cursor: pointer;
    }
  }

  .index-query-config-editor {
    padding: 5px;
  }

  .collection-container {
    max-height: 108px;
    overflow-y: auto;
    padding: 5px;

    .chip {
      border: 1px solid @main-blue;
      padding: 2px;
      margin: 3px 0;
      background: white;

      .chip-item {
        display: table-cell;
        vertical-align: middle;
        font-size: 16px;
      }

      .material-icons {
        cursor: pointer;
        font-size: 20px;
        padding-left: 10px;
        color: #888;

        &:hover {
          color: #000;
        }
      }
    }
  }

  .property-query-config {
    padding: 5px;

    .property-query-item {
      margin: 5px 0;
      background: @main-blue;
      color: white;
      font-size: 16px;
      padding: 10px;
      cursor: pointer;
    }
  }

  .property-query-config-editor {
    .field-name {
      text-align: center;
      font-size: 16px;
      margin-bottom: 5px;
      position: relative;

      .close-button {
        position: absolute;
        background: #53c6fc;
        width: 17px;
        height: 17px;
        font-size: 16px;
        top: -2px;
        right: 2px;
        line-height: 16px;
        cursor: pointer;
      }
    }

    .fallback-from {
      color: #eb0848;
      text-align: center;
      padding: 5px;
    }
  }

}
